.modal{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, .25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container {
    background-color: #fff;
    border-radius: 8px;
    width: 600px;
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.modal-top {
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}
.btn-close {
    position: absolute;
    right: 40px;
    background-color: #fff;
    border: none;
}
.btn-back {
    position: absolute;
    left: 40px;
    background-color: #fff;
    border: 1px solid var(--light-border-color);
}
.btn-trash {
    background-color: #fff;
    border: none;
}

.modal-bottom {
    border-top: 1px solid var(--light-border-color);
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    position: relative;
}

.modal-bottom button, .modal-bottom-left {
    background-color: #fff;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid var(--light-border-color);
}

.modal-bottom button:last-child {
    margin-left: 20px;
}

.search-container {
    position: relative;
    margin: 0 40px;
    display: flex;
    align-items: center;
}
  
.search-input {
    padding: 12px 40px;
    flex: 1;
    border: 1px solid var(--light-border-color);
}

.search-input::placeholder {
    color: var(--light-border-color);
}

.input-glass {
    position: absolute;
    left: 12px;
    display: inline-flex;
}

.list-container {
    border-top: 1px solid var(--light-border-color);
    padding: 0 40px;
    margin-top: 24px;
    overflow-y: scroll;
    margin-bottom: auto;
}
.list-supplier {
    padding: 12px;
    border-bottom: 1px solid var(--light-border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &:hover {
        background-color: var(--blue-hover);
    }
}

.product-clicked {
    background-color: rgb(241 245 249);
}
.product-clicked .arrow-dropdown {
    transform: rotate(90deg);
}
.list-product {
    padding: 20px 12px 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-border-color);
}


.name-avatar-container {
    display: flex;
    align-items: center;
}

.product-name {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.list-supplier:hover span {
    color: white;
}

/* media queries */
@media (max-width: 768px) {
    .modal-content {
        width: 90%;
    }
}

.product-child {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-border-color);
}
.product-child-left {
    display: flex;
    align-items: center;
}
.product-child input[type='checkbox'] {
    margin: 20px;
}
.modal input[type='number'] {
    margin: 20px 16px 20px 24px;
    width: 40px;
    text-align: right;
}

.list-selection {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-border-color);
}

