body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --light-border-color: #d3d3d3;
  --light-font-color: #7f7f7f;
  --gray-hover-color: #ececec;
  --blue-hover: #3a80ec;
}

::-webkit-scrollbar {
  display: none;
}